{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}


{% block content %}
<div class="dark-overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr class="w-75 mx-auto">
            <h1 class="display-4 text-center title">Contact Us</h1>
            <hr class="w-75 mx-auto">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="mb-5">
                <h6 class="text-muted">Please fill out the form below and we'll get back to
                    you as soon as possible.</h6>
                <small class="text-muted"><i>* is a required field</i></small>
            </div>
            <form action="{% url 'contact_submit' %}" method="POST" class="update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-end gap-4 py-5">
                    <a href="{% url 'contact_submit' %}" class="btn btn-outline-light rounded-0">Cancel</a>
                    <button class="btn btn-light rounded-0" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}