{% extends "base.html" %}
{% load static %}
{% block extra_title %} - contact us {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr class="w-75 mx-auto">
            <h2 class="title mb-4 text-center">Contact Us</h2> 
            <hr class="w-75 mx-auto">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="mb-5">
                <h6>Please fill out the form below and we'll get back to
                    you as soon as possible.</h6>
                <small class="text-muted"><i>* is a required field</i></small>
            </div>
            <form action="{% url 'contact_submit' %}" method="POST" class="update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-end gap-4 py-5">
                    <a href="{% url 'contact_submit' %}" class="btn btn-outline-light text-dark rounded-0">Cancel</a>
                    <button class="btn btn-secondary rounded-0" type="submit">Send</button>
                </div>
            </form>
        </div>
      <br>
    </div>
</div>
{% endblock %}
