{% load static %}
<footer class="container-fluid footer-container">
	<div class="row">
		<div class="col">
			<p>Site develped by Baiju Abraham</p>
		</div>
		<div class="col">
			<a id ='footer-contact' href="{% url 'contact_submit' %}" target="_blank">Contct</a>
		</div>
		<div class="col">
			<a href="https://www.linkedin.com/in/baiju-abraham-a40633225" target="_blank" rel="noopener noreferrer" >
                <i class="fab fa-linkedin social"></i>
            </a>
	        <a href="https://github.com/baijuka" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github social"></i>
            </a>
			<a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook social"></i>
            </a>
		</div>
		<div class="col">
			<p>For educational purpose only</p>
		</div>
	</div>
</footer>