{% extends "base.html" %}
{% load static %}
{% block extra_title %} Server Error {% endblock %}
{% block content %}
<div class="margin">
    <div class="center">
        <img src="{{ MEDIA_URL }}500.png" alt="500 error image">
        <div>
            <a href="{% url 'home' %}" class="btn btn-outline-dark mt-2">
                <span >
                    <i class="fas fa-chevron-left"></i>
                </span>
                Back to the Home Page!
            </a>
        </div>
    </div>
</div>
{% endblock %}