{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form id="form-container" method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <h5 class="text-muted">Product Variatons</h5>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class='variation-form' style="border-bottom:black 1px solid; margin-bottom: 5px;">
                        {{ form |crispy }}
                    </div>
                    {% endfor %}
                    <!-- <button id="add-form" class="btn btn-black rounded-0" type="button">Add More Size</button> -->
                    <div>
                        <h5 style="color: blue;">NOTE: Please delete (check) empty forms before submission </h5>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                    </div>
                    
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
    <!-- <script>
        let variationForm = document.querySelectorAll(".variation-form");
        let container = document.querySelector("#form-container");
        let addButton = document.querySelector("#add-form");
        let totalForms = document.querySelector("#id_variations-TOTAL_FORMS");
        let formNum = variationForm.length-1
        addButton.addEventListener('click', addForm);

        function addForm(e) {
        e.preventDefault()

        let newForm = variationForm[0].cloneNode(true); 
        newForm.setAttribute('class','displayForm');

        let formRegex = RegExp(`variations-(\\d){1}-`,'g'); 
        formNum++ 
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `variations-${formNum}-`); 
        container.insertBefore(newForm, addButton); 
        totalForms.setAttribute('value', `${formNum+1}`) 
        }
       
    </script> -->
{% endblock %}